{%extends 'user_base.html'%}
<!-- load static -->
{%load static%}
<!-- extending base -->
{%block main_content%}
<!-- main block start -->
<style>
    section {
        padding-top: 50px;
    }
</style>
<section class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-sm-10">
                <h1 class="text-white" style="font-size: 60px;padding-bottom:15px">Add Product</h1>
                <p class="text-white">Choose your loadout from our collection of ready-to-use graphics. Premium overlays, alerts, and templates - with new designs added weekly.</p>
                <p class="text-white">Browse designs for Twitch, Mixer, YouTube, and Facebook Gaming. Enjoy multi-platform support across Streamlabs, StreamElements, and OBS Studio.</p>
                <p class="text-white">Just download, set up, and stream.</p>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-sm-10">
                <img class="img-fluid w-75 header-image" src="{% static 'front/img/package-first.jpg'%}" alt="">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 col-md-10 col-sm-8">
                <form method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    <!-- csrf token generated -->
                    <div class="form-row">
                        <div class="form-group col-12">{{form.slug}}</div>
                        <div class="form-group col-12">{{form.title}}</div>
                        <div class="form-group col-6">{{form.category}}</div>
                        <div class="form-group col-6">{{form.price}}</div>
                        <div class="form-group col-12">{{form.img_one}}</div>
                        <div class="form-group col-12">{{form.img_two}}</div>
                        <div class="form-group col-12">{{form.img_three}}</div>
                        <div class="form-group col-12">{{form.product_file}}</div>
                        <div class="form-group col-12">{{form.product_description}}</div>
                    </div>
                    <button class="btn btn-outline-primary shadow-none btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- main block ends -->
{%endblock main_content%}
<!--  -->
{%block scripts%}
<!--  -->
<script>
    $(document).ready(function() {
        $('#id_category').attr('class', 'form-control')
    })
</script>
<!--  -->
{%endblock scripts%}