<!-- extending base html -->
{%extends 'user_base.html'%}
<!-- loading static files -->
{% load static %}
<!-- static file loaded -->
<!-- starting point of main block -->
{% block main_content %}
<!-- here content starts -->
<h1>500 Page Not Found</h1>
<!-- here content ends -->
{% endblock main_content %}
<!-- end of main block -->
<!-- script block starts here -->
{% block scripts%}
<!-- write script here -->
<script type="text/javascript">
    // window.onload = setupRefresh;

    // function setupRefresh() {
    //     setTimeout("refreshPage();", 10000);
    // }

    // function refreshPage() {
    //     window.location = location.href;
    // }
</script>
<!-- script writing ends here -->
{% endblock scripts %}
<!-- scripts ends here -->