{%extends 'user_base.html'%}
<!-- base user html extended -->
{%load static%}
<!-- static file completely loaded -->
{%block main_content%}
<!-- main content starts here -->
<style>
    section {
        padding-top: 100px;
    }
    
    h1 {
        font-family: "Red Hat Display", sans-serif;
        text-align: center;
        padding-bottom: 40px;
    }
    
    .text-section {
        background-color: #1a1e23;
    }
    
    .form-section {
        font-family: "Red Hat Text", sans-serif;
    }
    
    .btn-outline-success {
        border-color: #00ce7c;
    }
    
    .btn-outline-success:hover {
        background-color: #00ce7c;
    }
</style>
<section class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-6 col-lg-6 col-sm-10">
                <h1 class="text-white" style="font-size: 60px;padding-bottom:15px;padding-right:112px">Create Your Custom Design</h1>
                <p class="text-white">Choose your loadout from our collection of ready-to-use graphics. Premium overlays, alerts, and templates - with new designs added weekly.</p>
                <p class="text-white">Browse designs for Twitch, Mixer, YouTube, and Facebook Gaming. Enjoy multi-platform support across Streamlabs, StreamElements, and OBS Studio.</p>
                <p class="text-white">Just download, set up, and stream.</p>
            </div>
            <div class="col-12 col-xl-6 col-lg-6 col-sm-10">
                <img class="img-fluid w-75 header-image" src="{% static 'front/img/package-first.jpg'%}" alt="">
            </div>
        </div>
    </div>
</section>
<section class="form-section">
    <h1>Create Your Custom Design</h1>
    <div class="container">
        <form method="POST">
            {%csrf_token%}
            <div class="col-12 col-lg-12 col-md-10 col-sm-10">
                {{form.as_p}}
                <button class="btn btn-outline-success shadow-none btn-block">Submit</button>
            </div>
        </form>
    </div>
</section>
<!-- main content ends here -->
{%endblock main_content%}
<!--  -->
{%block scripts%}
<!-- scripts starts here -->
<!-- scripts ends here -->
{%endblock scripts%}