<!-- extending base html -->
{%extends 'user_base.html'%}
<!-- base template extended -->
<!-- loading static -->
{%load static%}
<!-- static files has been loaded -->
{% block main_content %}
<!-- main block starts here -->
<!-- content starts -->
<style>
    .banner-section {
        display: none;
    }
    
    .login-form {
        background-color: #1a1e23;
        color: white;
        padding-top: 180px;
    }
    
    .login-form h2 {
        color: white;
        padding-bottom: 40px;
    }
    
    .login-form h4 {
        color: white;
    }
    
    .login-form p {
        color: white;
    }
    
    .new-val {
        padding-top: 90px;
    }
    
    @media only screen and (max-width: 550px) {
        .login-form {
            padding-top: 50px;
        }
    }
</style>
<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-10 new-val">
                <h2>Reset Link Sent</h2>
                <h4>Worried About Your Password Buddy?</h4>
                <p>Don't worry! We have sent you a link to reset your password</p>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-10">
                <img class="img-fluid w-85" src="{%static 'front/img/login.webp'%}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- content stop -->
{% endblock main_content %}
<!-- main block stops here -->
{% block scripts %}
<!-- script tag start -->

<!-- script tag stop -->
{% endblock scripts %}