<!-- extending base html -->
{%extends 'user_base.html'%}
<!-- base template extended -->
<!-- loading static -->
{%load static%}
<!-- static files has been loaded -->
{% block main_content %}
<!-- main block starts here -->
<!-- content starts -->
<style>
    .banner-section {
        display: none;
    }
    
    .login-form {
        background-color: #1a1e23;
        color: white;
        padding-top: 180px;
    }
    
    .login-form h3 {
        color: white;
        padding-bottom: 40px;
    }
    
    label {
        font-size: x-large;
        padding-right: 12px;
    }
    
    @media only screen and (max-width: 550px) {
        .login-form {
            padding-top: 50px;
        }
    }
</style>
<section class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-10">
                <form method="POST">
                    <!-- csrf token generate -->
                    {%csrf_token%}
                    <h3>Forgot Your Password Buddy?</h3>
                    <!-- password reset form generate -->
                    {{form}}
                    <br>
                    <button class="btn btn-success">Send Email</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-10">
                <img class="img-fluid w-85" src="{%static 'front/img/login.webp'%}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- content stop -->
{% endblock main_content %}
<!-- main block stops here -->
{% block scripts %}
<!-- script tag start -->
<script>
    $("#id_email").attr('class', 'form-control')
    $("#id_email").attr('placeholder', 'Enter Your Email Address')
</script>
<!-- script tag stop -->
{% endblock scripts %}