<!-- extending base html -->
{%extends 'user_base.html'%}
<!-- base template extended -->
<!-- loading static -->
{%load static%}
<!-- static files has been loaded -->
{% block main_content %}
<!-- main block starts here -->
<!-- content starts -->
<style>
    body {
        background-color: #1a1e23;
        font-family: "Red Hat Text", sans-serif;
    }
    
    .banner-section {
        display: none;
    }
    
    .terms-section {
        font-family: "Red Hat Text", sans-serif;
        padding-top: 80px;
    }
    
    .terms-section h1 {
        color: white;
    }
    
    .bar {
        border-bottom: 1px solid #6c77893f;
    }
    
    .main-section {
        padding-top: 20px;
    }
    
    .main-section h6 {
        color: white;
        text-align: justify;
        font-weight: lighter;
        padding-top: 20px;
    }
    
    .main-section b {
        font-weight: 900;
    }
    
    .main-section h2 {
        font-weight: lighter;
        color: white;
        padding-top: 20px;
    }
    
    .main-section ul li {
        margin-left: 15px;
        color: white;
    }
    
    .main-section ul li p {
        color: white;
        font-size: 16px;
    }
    
    .main-section .extra {
        padding-bottom: 5px;
    }
</style>
<section class="terms-section">
    <div class="container">
        <h1>Privacy Policy</h1>
    </div>
</section>
<div class="bar"></div>
<section class="main-section first">
    <div class="container">
        <h6>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You. We use Your Personal data to provide
            and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy. This Privacy Policy is maintained by the Privacy Policy Generator.
        </h6>

        <h2><u>Interpretation and Definitions</u></h2>
        <h2>Interpretation</h2>

        <h6>The words of which the initial letter is capitalized have meanings defined under the following conditions.</h6>
        <h6>The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</h6>

        <h2>Definitions</h2>
        <h6 class="extra">For the purposes of this privacy policy:</h6>
        <ul>
            <li type="box">
                <p><b>You</b> mean the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
            </li>
            <li type="box">
                <p><b>DesignShop100</b> (referred to as either "Design Shop100", "We", "Us" or "Our" in this Agreement) refers to Design Shop100.</p>
            </li>
            <li type="box">
                <p><b>Affiliate</b> means an entity that controls, is controlled by or is under common control with a party, where "control" means ownership of 50% or more of the shares, equity interest or other securities entitled to vote for election of
                    directors or other managing authority.</p>
            </li>
            <li type="box">
                <p><b>Account</b> means a unique account created for You to access our Service or parts of our Service.</p>
            </li>
            <li type="box">
                <p><b>Website</b> refers to Design Shop100, accessible from https://www.designshop100.com</p>
            </li>
            <li type="box">
                <p><b>Service</b> refers to the Website.</p>
            </li>
            <li type="box">
                <p><b>Country</b> refers to Bangladesh.</p>
            </li>
            <li type="box">
                <p><b>Service Provider</b> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf
                    of design Shop100, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
            </li>
            <li type="box">
                <p><b>Third-Party Social Media Service</b> refers to any website or any social network website through which a User can log in or create an account to use the Service.</p>
            </li>
            <li type="box">
                <p><b>Personal Data</b> is any information that relates to an identified or identifiable individual.</p>
            </li>
            <li type="box">
                <p><b>Cookies</b> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
            </li>
            <li type="box">
                <p><b>Device</b> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
            </li>
            <li type="box">
                <p><b>Usage Data</b> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
            </li>
        </ul>
        <h2><u>Collecting and Using Your Personal Data</u></h2>
        <h2><u>Types of Data Collected</u></h2>
        <h2>Personal Data</h2>
        <h6>While using Our Service, we may ask You to provide Us with certain personally identifiable information that can be used to contact or identify You. Personally identifiable information may include, but is not limited to:</h6>
        <ul>
            <li type="box">
                Email Address
            </li>
            <li type="box">
                First Name and Last Name
            </li>
            <li type="box">
                Phone Number
            </li>
            <li type="box">
                Address, State, Province, ZIP/Postal code, city
            </li>
            <li type="box">
                Usage Data
            </li>
        </ul>
        <h2>Usage Data</h2>
        <h6>Usage Data is collected automatically when using the Service.</h6>
        <h6>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique
            device identifiers and other diagnostic data.</h6>
        <h6>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device,
            Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</h6>
        <h6>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device. Given below..</h6>
        <h6><b>We only share your information with third parties.</b></h6>
        <h6>We only share and disclose your information with the following third parties. We have categorized each party so that you may be easily understand the purpose of our data collection and processing practices. If we have processed your data based
            on your consent and you wish to revoke your consent, please contact us.</h6>
        <h6><b>Advertising</b></h6>
        <ul>
            <li type="box">Google AdSense</li>
        </ul>
        <h6><b>Allow users to connect to their Third-Party accounts and</b></h6>
        <ul>
            <li type="box">Facebook Account</li>
            <li type="box">Twitter Account</li>
            <li type="box">Instagram Account</li>
            <li type="box">Twitch Account</li>
            <li type="box">Youtube Account</li>
        </ul>
        <h6><b>Content Optimization</b></h6>
        <ul>
            <li type="box">Google Site Search</li>
            <li type="box">Google Fonts</li>
        </ul>
        <h6><b>Data Backup, Security</b></h6>
        <ul>
            <li type="box">Google Drive Backup</li>
        </ul>
        <h6><b>Invoice, Billing</b></h6>
        <ul>
            <li type="box">Bkash</li>
            <li type="box">Rocket</li>
            <li type="box">Wave</li>
            <li type="box">2checkout</li>
            <li type="box">Payoneer</li>
        </ul>
        <h6><b>Retargeting Platforms</b></h6>
        <ul>
            <li type="box">Google Ads Remarketing</li>
            <li type="box">Google Analytics Remarketing</li>
            <li type="box">Social Media Sharing, Advertising, and</li>
            <li type="box">Twitter Advertising</li>
            <li type="box">Instagram Advertising</li>
        </ul>
        <h6><b>User Account Registration, Authentication</b></h6>
        <ul>
            <li type="box">Google Advertising</li>
            <li type="box">Web and Mobile Analytics</li>
            <li type="box">Google Analytics</li>
        </ul>
        <h6><b>Web Hosting</b></h6>
        <ul>
            <li type="box">Django(Python)</li>
            <li type="box">Namecheap</li>
            <li type="box">Shopify</li>
        </ul>
        <h2>Tracking Technologies and Cookies</h2>
        <h6>We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service.</h6>
        <h6>You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, if You do not accept Cookies, you may not be able to use some parts of our Service.</h6>
        <h6>Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close your web browser. Learn more about cookies in the
            "What Are Cookies" article.</h6>
        <h2><u><b>Use of Your Personal Data</b></u></h2>
        <h6>Design Shop100 may use Personal Data for the following purposes:</h6>
        <ul>
            <li type="box"><b>To provide and maintain our Service, </b> including to monitor the usage of our Service.</li>
            <li type="box"><b>To manage Your Account: </b> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
            <li type="box"><b>•	For the performance of a contract: </b>the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</li>
            <li type="box"><b>To contact You: </b>To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities,
                products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
            <li type="box"><b>To provide You </b>with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive
                such information.</li>
            <li type="box"><b>To manage Your requests: </b>To attend and manage Your requests to Us. We may share your personal information in the following situations:
            </li>
            <li type="box"><b>With Service Providers: </b>We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
            <li type="box"><b>For Business transfers: </b>We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</li>
            <li type="box"><b>With Affiliates: </b>We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners
                or other companies that We control or that are under common control with Us.</li>
            <li type="box"><b>With Business partners: </b>We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
            <li type="box"><b>With other users: </b>when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users
                or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see You name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions
                of Your activity, communicate with You and view Your profile.</li>
            <h2><u><b>Disclosure of Your Personal Data</b></u></h2>
            <h2><b>Business Transactions</b></h2>
            <h6>If Design Shop100 is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</h6>
            <h2><b>Law enforcement</b></h2>
            <h6>Under certain circumstances, Design Shop100 may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</h6>
            <h2><b>Other legal requirements</b></h2>
            <h6>Design Shop100 may disclose Your Personal Data in the good faith belief that such action is necessary to:</h6>
            <ul>
                <li type="box">Comply with a legal obligation</li>
                <li type="box">Protect and defend the rights or property of the Company</li>
                <li type="box">Prevent or investigate possible wrongdoing in connection with the Service</li>
                <li type="box">Protect the personal safety of Users of the Service or the public</li>
                <li type="box">Protect against legal liability</li>
            </ul>
            <h2><u><b>Security of Your Personal Data</b></u></h2>
            <h6>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal
                Data, We cannot guarantee its absolute security.</h6>
            <h6>Detailed Information on the Processing of Your Personal Data</h6>
            <h6>Service Providers have access to Your Personal Data only to perform their tasks on Our behalf and are obligated not to disclose or use it for any other purpose.</h6>
            <h2><u><b>Usage, Performance and Miscellaneous</b></u></h2>
            <h6>We may use third-party Service Providers to provide better improvement of our Service.</h6>
            <h6><b>Google Places</b></h6>
            <h6>Google Places is a service that returns information about places using HTTP requests. It is operated by Google.</h6>
            <h6>Google Places service may collect information from You and from Your Device for security purposes.</h6>
            <h6>The information gathered by Google Places is held in accordance with the Privacy Policy of Google: https://www.google.com/intl/en/policies/privacy/</h6>
            <h2><u><b>Children's Privacy</b></u></h2>
            <h6>Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with
                Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of 13 without verification of parental consent, we take steps to remove that information from Our servers.</h6>

            <h6>If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a parent, we may require Your parent's consent before We collect and use that information.</h6>
            <h2><u><b>Links to Other Websites</b></u></h2>
            <h6>Our Service may contain links to other websites that are not operated by Us. If You click on a third-party link, you will be directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.</h6>
            <h6>We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</h6>
            <h2><u><b>Changes to this Privacy Policy</b></u></h2>
            <h6>We may update our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</h6>
            <h6>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the "Last updated" date at the top of this Privacy Policy</h6>
            <h6>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</h6>
        </ul>
    </div>
</section>
<!-- content stop -->
{% endblock main_content %}
<!-- main block stops here -->
{% block scripts %}
<!-- script tag start -->

<!-- script tag stop -->
{% endblock scripts %}